<div [ngClass]="alerta" class="alert" role="alert">
    A simple primary alert—check it out!
  </div>

  <button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
  <button type="button" class="btn btn-success ml-1" (click)="alerta = 'alert-success'">Success</button>
  <br>
  <br>
  <h3 [ngClass]="{'text-danger':propiedades.danger,'text-info':!propiedades.danger}">Hola mundo </h3>
  <button
  type="button"
  class="btn btn-danger"
  (click)="propiedades.danger=!propiedades.danger">
  cambiar</button>
  <br>
  <br>
  <h3>Proceso Asincrono</h3>
  <hr>
  <button (click)="ejecutar()" class="btn btn-primary" [disabled]="cargando"> 
    <i [ngClass]="{'fa-save': !cargando,'fa-refresh fa-spin':cargando }" class="fa fa-refresh fa-spin"> </i>
    <span *ngIf="!cargando"> Guardar Cambios</span>
    <span *ngIf="cargando"> Espere por favor</span>
  </button>